NEXT_PUBLIC_API_URL=http://localhost:3001




# | Source           | Can activate now? | Will sync work?               |
# | ---------------- | ----------------- | ----------------------------- |
# | RemoteOK         | Already active    | Yes                           |
# | Generic RSS      | Already active    | Yes                           |
# | We Work Remotely | Already active    | Yes                           |
# | Manual Entry     | Already active    | Yes                           |
# | Freelancer       | Can activate      | Only after real API connector |
# | Upwork           | Can activate      | Only after Gmail parser       |
# | Fiverr           | Can activate      | Only after Gmail parser       |
# | LinkedIn         | Can activate      | Only after Gmail parser       |
# | Indeed           | Can activate      | Only after Gmail parser       |

# npx prisma db seed  this comand to run seeder 
# npx prisma generate this one genrate  migration tables 

# npx prisma migrate reset --force --skip-seed --skip-generate reset db completely fresh